@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1600 Amphitheatre Parkway<br />
    Mountain View, CA 94043<br />
    United States<br />
    Phone:
    +1 734-332-6500
</address>

<address>
    <strong>Developer:</strong> <a href="mailto:dunda.deividas@gmail.com">dunda.deividas@gmail.com</a><br />
</address>
